<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="jumbotron " style="background-color: #3C3258;">
    <h1 class="display-4 text-center" style="color :#FFA355"> Client Details</h1>
    <hr>
    <br><br>
     <div class="row">
       <div class="col-md-3">
      <app-crud-client></app-crud-client>
     </div>
     <div class="col-md-9">
      <app-list-client></app-list-client>
  
     </div>
     
     </div>
   </div>
  
</body>
</html>


