@import url('https://fonts.googleapis.com/css?family=Ribeye&display=swap');
body{
   
    background-color: #1F1C3B;
    height: 100vh;
    position: relative;
}
ul {
  
   position: absolute;
    top: 22%;
    left: 0;
}
ul li{
    border:none;
    box-sizing: border-box;
  border-top:  1px solid rgba(255,255,255, .1);
 list-style: none;
 margin-top: 20px;
 font-size: 15px;
 margin-bottom: 37px;
 
}
ul li:last-of-type{
    margin-top: 236px;
   
}
ul li a {

    color:#FFA355 ;
    text-decoration: none;
    transition: all .5s ease-in-out;
    font-family: 'Ribeye';
   
}

ul li a:hover {
    letter-spacing: 1px;
   border: none;
   border-bottom:2px solid  #AC1DAF;
    font-size: 20px;
    padding: 10px;
    transform: translateX(10px);
    text-decoration: none;
   
}

