<html>
<head>
</head>

<body>

<ul>
<li><i style=" margin-right: 25px; color : #AC1DAF;" class="fas fa-chart-line" ></i><a [routerLink]="['/dashboardHome']" routerLinkActive="active-link">Dash</a></li>
<li><i  style=" margin-right: 25px; color : #AC1DAF;" class="fas fa-users"></i><a [routerLink]="['/client']">  Client</a></li>
<li><i  style=" margin-right: 25px; color : #AC1DAF;" class="fas fa-pen-alt"></i><a [routerLink]="['/contamination']">Update </a></li>
<li><i  style=" margin-right: 25px; color : #AC1DAF;" class="fas fa-map-marker-alt"></i><a  href="http://localhost:4200/login">Maps</a></li>
<li><i  style=" margin-right: 25px; color : #AC1DAF;" class="fas fa-sign-out-alt"></i><a href="http://localhost:4200/login">Log out</a></li>
</ul>

<script>

</script>
</body>
</html>
